

<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <!-- <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">Richard V.Welsh</p>
            <div>
              <small class="designation text-muted">Manager</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div> -->
        <!-- <button class="btn btn-success btn-block">New Project
          <i class="mdi mdi-plus"></i>
        </button> -->
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/customerlist" routerLinkActive="active">
        <i class="menu-icon fa fa-user-circle"></i>
        <span class="menu-title">Customer</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/washerlist" routerLinkActive="active">
        <i class="menu-icon fa fa-user-o"></i>
        <span class="menu-title">Washer</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/carlist" routerLinkActive="active">
        <i class="menu-icon fa fa-automobile"></i>
        <span class="menu-title">Car Management</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/splist" routerLinkActive="active">
        <i class="menu-icon fa fa-cogs"></i>
        <span class="menu-title">Service Plan Management</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/addonlist" routerLinkActive="active">
        <i class="menu-icon fa fa-folder-open"></i>
        <span class="menu-title">Add-On Management</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pclist" routerLinkActive="active">
        <i class="menu-icon fa fa-tag"></i>
        <span class="menu-title">Promo Code Management</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ordermanagement" routerLinkActive="active">
        <i class="menu-icon fa fa-first-order"></i>
        <span class="menu-title">Order Management</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/reportmanagement" routerLinkActive="active">
        <i class="menu-icon fad fa-th-list"></i>
        <span class="menu-title">Report Management</span>
      </a>
    </li>
  </ul>
</nav>
