<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <a class="navbar-brand brand-logo" href="index.html">
      <img src="assets/images/car_wash_logo2.png" alt="logo" />
    </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <div class="navbar-nav mr-auto">
      <h2>On Demand Car Wash</h2>
    </div>
    <div class="navbar-nav" *ngIf="isLoggedIn()">
      <a class="nav-item nav-link" routerLink="#" style="font-size: 18px;" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>