<h3>Create ServicePlan</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Service Plan</label>
      <input type="text" class="form-control" id="addonname"  name="addonname">
    </div>

    <div class="form-group">
      <label for="name">Price</label>
      <input type="text" class="form-control" id="price"  name="price">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>&nbsp;
    <button class="btn btn-light">Cancel</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>