<div class="col-12 grid-margin">
  <div class="card">
      <div class="card-body">
          <form class="form-sample" [formGroup]="spFrom" (ngSubmit)="onSubmit()">
              <p class="card-description">
                Create Service Plan
              </p>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Service Plan</label>
                          <div class="col-sm-9">
                              <input type="text" class="form-control" formControlName="spname" placeholder="ServicePlan"
                              [ngClass]="{ 'is-invalid': submitted && f1.spname.errors }" />
                              <div *ngIf="submitted && f1.spname.errors" class="invalid-feedback">
                                  <div *ngIf="f1.spname.errors.required">Service Plan is required</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Price</label>
                          <div class="col-sm-9">
                              <input type="text" class="form-control" placeholder="price" formControlName="price"
                              [ngClass]="{ 'is-invalid': submitted && f1.price.errors }" />
                              <div *ngIf="submitted && f1.price.errors" class="invalid-feedback">
                                  <div *ngIf="f1.price.errors.required">Price is required</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
              <button class="btn btn-light" routerLink="/splist">Cancel</button>
          </form>
      </div>
  </div>
</div>