<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">User Regitration</h4>
            <form class="form-sample" [formGroup]="step1From" (ngSubmit)="onSubmit()">
                <p class="card-description">
                    Personal info
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Username</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="username" placeholder="Username"
                                [ngClass]="{ 'is-invalid': submitted && f1.username.errors }"/>
                                <div *ngIf="submitted && f1.username.errors" class="invalid-feedback">
                                    <div *ngIf="f1.username.errors.required">Username is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Role</label>
                            <div class="col-sm-9">
                                <select class="form-control" formControlName="role" placeholder="Roles"
                                [ngClass]="{ 'is-invalid': submitted && f1.role.errors }">
                                <div *ngIf="submitted && f1.role.errors" class="invalid-feedback">
                                    <div *ngIf="f1.role.errors.required">Role is required</div>
                                </div>
                                    <option>customer</option>
                                    <option>washer</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Email address</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="email" placeholder="Email" name="email"
                                formControlName="email" [ngClass]="{ 'is-invalid': submitted && f1.email.errors }"/>
                                <div *ngIf="submitted && f1.email.errors" class="invalid-feedback">
                                    <div *ngIf="f1.email.errors.required">Email is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="password" placeholder="Password"
                                    name="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f1.password.errors }"/>
                                    <div *ngIf="submitted && f1.password.errors" class="invalid-feedback">
                                        <div *ngIf="f1.password.errors.required">Password is required</div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
                <button class="btn btn-light" routerLink="/home">Cancel</button>
            </form>
        </div>
    </div>
</div>
<jaspero-alerts></jaspero-alerts>