<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h3>Our Washing Services</h3>
            <!-- <form class="form-sample" [formGroup]="step1From" (ngSubmit)="onSubmit()">
                <p class="card-header">
                    Select Your Car
                </p>
                &nbsp;
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Car</label>
                            <div class="col-sm-9">
                                <select class="form-control" formControlName="role" placeholder="Roles">
                                    <option>Audi</option>
                                    <option>Jaguar</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="card-header">
                    Select Your Wash Packages
                </p>
                &nbsp;
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Wash Packages</label>
                            <div class="col-sm-9">
                                <select class="form-control" formControlName="role" placeholder="Roles">
                                    <option>Audi</option>
                                    <option>Jaguar</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
                <button class="btn btn-light" routerLink="/home">Cancel</button>
            </form> -->
        </div>
    </div>
</div>