<ngb-carousel #carousel>
  <ng-template ngbSlide>
    <img src="assets/images/carousel/4.png" alt="Random first slide" width="100%">
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/images/carousel/5.jpg" alt="Random second slide" width="100%">
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/images/carousel/6.jpg" alt="Random third slide" width="100%">
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/images/carousel/7.jpg" alt="Random forth slide" width="100%">
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/images/carousel/8.png" alt="Random fifth slide" width="100%">
    <div class="carousel-caption">
    </div>
  </ng-template>
</ngb-carousel>